*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#933ded;
    --dark:#232323;
    --pure:#ffffff;
    --smoke:whitesmoke;
    --dark-grey:#999;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--dark);
    color: var(--pure);
    width: 100%;
    height: 100%;
}

.container{
    max-width: 90%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px; */
    margin: 20px 100px;
}

.nav-wrapper .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 50px; */
}

.nav-wrapper .logo h2{
    text-transform: uppercase;
    font-weight: 900;
}

.nav-wrapper .logo h2 span{
    color: var(--primary);
}

.nav-wrapper .nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.nav-wrapper .nav-list li a{
  text-decoration: none;
  color: var(--pure);
  cursor: pointer;
transition: all 0.3s linear;
}

.nav-wrapper .nav-list li a:hover{
    color: var(--primary);
    transition: all 0.3s linear;
}

.nav-wrapper .nav-list .active a{
    color: var(--primary);
}
 .btn{
    border: none;
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--pure);
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover{
    background-color: #a35af0;
    transition: all 0.3s linear;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.header .header_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .header_inner h2{
    font-size: 3rem;
    font-weight: 400;
    color: var(--pure);
}

.header .header_inner h4{
    font-style: italic;
    font-size: 1rem;
    font-weight: 100;
    color: var(--dark-grey);
    margin-top: 10px;
}
.header .btn{
margin-top: 20px;
}

.hamburger{
    display: none;
}

.mobile .hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.mobile .hamburger span{
    background-color: var(--pure);
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.mobile ul.nav-list{
    background:linear-gradient(45deg,#434343,#000000);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.hamburger , .logo{
    z-index: 999;
}

.mobile ul.nav-list.open{
    opacity: 1;
        pointer-events: painted;
}

.mobile .hamburger span{
    transform-origin: left;
    transition: all 0.5s ease-in-out;
}

.mobile .nav-wrapper .nav-list li a{
    font-size: 1.2rem;
}

.mobile .logo{
    font-size: 0.9rem;
    margin-left: 0px;
}

.mobile .header_inner h2{
    font-size: 2rem;
}

