* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: #f1f1f1;
    padding: 10px 30px;
    /* border: 2px solid red; */

}

nav .header {
    color: #ae0000;
}

nav .header h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
}

nav .header h3 {
    font-size: 21px;
    font-weight: 300;
    line-height: 15px;
    margin-left: 10px;
}

.container_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.container .container_wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container_wrapper form p label {
    font-size: 0.8rem;
}

.container_wrapper form #height,
#weight {
    width: 250px;
    height: 30px;
    margin: 20px 10px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #666668;
}

form #height,
#weight:focus {
    outline: none;
}

form #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
}

form #results {
    font-size: 1.5rem;
    margin-left: 90px;
    margin-top: 10px;
    color: #f90000;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}

form button {
    width: 150px;
    height: 35px;
    border: none;
    margin:0px 0px 0px 50px;
    background-color: #e77817;
    color: #ffffff;
    padding: 1px;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover {
    background-color: #999999;
    color: #666668;
    transition: all 0.3s ease-in-out;
}

.container_wrapper form #weight-guide {
    background-color: #f1f1f1;
    padding: 20px;
}

#weight-guide h3 {
    align-items: center;
}

#weight-guide p {
    font-size: 1rem;
    margin-top: 10px;
}

 .flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .container_wrapper .uweight p{
    font-weight: 700;
    color: #e77817;
    margin-top: 10px;
}
.container .container_wrapper .oweight p{
    font-weight: 700;
    color: #e77817;
    margin-top: 10px;
}