@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

:root {
    --button_color: #FFDD33;
    --primary_color: #FFFFFF;
    --secdary_color: #000000;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++
        page1 starts here 
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.page1 {
    width: 100%;
    min-height: 100vh;
}

.page1 nav {
    width: 100%;
    display: flex;
    height: 120px;
    padding: 40px 80px 25px 80px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    /* border: 1px solid red; */
}

.page1 nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
}

.page1 nav .logo p {
    font-size: 1.7vw;
    font-weight: 700;
    letter-spacing: -1px;
}


.page1 nav .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8vw;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 20.651px;
    letter-spacing: -0.138px;
    /* border: 1px solid red; */
}

.page1 nav .menu ul .list_item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.page1 nav .menu ul li {
    padding: 0.5vw;
}

.page1 nav .menu ul li:hover {
    background-color: var(--button_color);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
    /* border: 1px solid red; */
}



.page1 nav .login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8vw;
    letter-spacing: -0.5px;
    /* border: 1px solid red; */
}

.page1 nav .login p {
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.8rem;
    font-weight: 700;
    border-radius: 25px;
    transition: all 0.3s linear;
}

.page1 nav .login p:hover {
    background-color: var(--button_color);
    color: var(--secdary_color);
    transition: all 0.3s linear;
}

.page1 nav .login button {
    background-color: var(--secdary_color);
    color: var(--primary_color);
    padding: 1rem 1.2rem;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    font-size: 0.8rem;
    transition: all 0.3s linear;
}

.page1 nav .login button:hover {
    background-color: var(--button_color);
    color: var(--secdary_color);
    transition: all 0.3s linear;
}


.page1 .hero_sec {
    width: 100%;
    height: 100%;
    /* height: calc(100vh - 120px); */
    /* background-color: #FFDD33; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8vw;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++
        Hero section right portion starts here 
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.page1 .hero_sec .sec_left {
    height: 100%;
    width: 55%;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: aqua; */
}

.page1 .hero_sec .sec_left .img1 {
    width: 80%;
    margin-top: -80px;
    position: relative;
    z-index: 8;
    /* border: 2px solid red; */
    /* height: 987px; */
}

.page1 .hero_sec .sec_left .img2 {
    position: absolute;
    margin: 315px 0px 0px -350px;
    width: 130px;
    z-index: 7;
}

.page1 .hero_sec .sec_left .img3 {
    position: absolute;
    margin: 144px 0px 0px -370px;
    z-index: 11;
    width: 210px;
}

.page1 .hero_sec .sec_left .img4 {
    position: absolute;
    margin: 90px 0px 0px -210px;
    z-index: 10;
    width: 330px;
}

.page1 .hero_sec .sec_left .img5 {
    position: absolute;
    z-index: 10;
    margin: 80px 0px 0px 0px;
}

.page1 .hero_sec .sec_left .img6 {
    position: absolute;
    z-index: 10;
    margin: 525px 0px 0px 0px;
}




/* +++++++++++++++++++++++++++++++++++++++++++++++++++
        Hero section right portion starts here 
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.page1 .hero_sec .sec_right {
    height: 100%;
    width: 45%;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0px 80px 0px 0px;
    /* background-color: rgb(0, 34, 255); */
}

.page1 .hero_sec .sec_right h1 {
    color: #171717;
    font-size: 6.5vw;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -3.84px;
}

.page1 .hero_sec .sec_right p {
    font-size: 1.2rem;
    color: #98A2B3;
    font-weight: 400;
    letter-spacing: -0.92px;
}

.page1 .hero_sec .sec_right .btn .btn1 {
    background-color: var(--button_color);
    border: none;
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: -0.5px;
    cursor: pointer;

}

.page1 .hero_sec .sec_right .btn .btn2 {
    background-color: #FFFFFF;
    border: 2px solid #EFEFEF;
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: -0.5px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.page1 .hero_sec .sec_right .btn .btn2:hover {
    background-color: var(--button_color);
    border: 2px solid var(--button_color);
    transition: all 0.3s linear;

}

.page1 .hero_sec .sec_right .person {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.page1 .hero_sec .sec_right .person .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 .hero_sec .sec_right .person .avatar img {
    background-color: #FFBC99;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -10px;
}

.page1 .hero_sec .sec_right .person .avatar .img2 {
    background-color: #CABDFF;
}

.page1 .hero_sec .sec_right .person .avatar .img3 {
    background-color: #B5E4CA;
}

.page1 .hero_sec .sec_right .person .user {
    display: flex;
    flex-direction: column;
}

.page1 .hero_sec .sec_right .person .user .part1 {
    display: flex;
}

.page1 .hero_sec .sec_right .person .user .part1 p {
    color: var(--secdary_color);
    font-size: 3.6vw;
    font-weight: 500;
    letter-spacing: -2.2px;
}

.page1 .hero_sec .sec_right .person .user p {
    color: #9E9E9E;
    font-size: 0.9rem;
}





/* 
+++++++++++++++++++++++++++++++++++++++
         paart 2 starts here 
+++++++++++++++++++++++++++++++++++++++
*/

.page2 {
    width: 100%;
    min-height: 100vh;
    /* overflow: hidden; */
    /* background-color: red; */
}

.page2 h1 {
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: -1.92px;
}

.page2 .card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw 5vw;
    gap: 2vw;
    overflow: hidden;


}

.page2 .card .card1 {
    width: auto;
    height: 750px;
    background-color: #F9FAFB;
    border-radius: 25px;
    padding: 3vw;
    border: 1px solid red;
    overflow: hidden;
}

.page2 .card .card1 .card_img {
    width: 60px;
    height: 60px;
    background-color: var(--button_color);
    padding: 14px 14px;
    border-radius: 28px;

}

.page2 .card h2 {
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 20px 0px;
}

.page2 .card p {
    font-size: 1.3rem;
    color: #98A2B3;
    font-weight: 400;
    letter-spacing: -0.72px;
    margin: 20px 0px;
}

.debit_card {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

}

.visa {
    height: 480px;
    width: 300px;
    padding: 1vw 2vw;
    color: #ffffff;
    position: absolute;
    z-index: 6;
    margin-left: -15vw;
    /* margin-top: 15vw; */
    border-radius: 25px;
    background: url(./Noise.png), #181818 0% 0% / 24.73033368587494px 24.73033368587494px repeat;
    background-image: linear-gradient(#00000012, 000000);
}

.visa .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visa .header p {
    font-size: 1.2rem;
    font-weight: 600;
}

.visa .chip {
    border: 1px solid #ffffff;
    height: 38px;
    width: max-content;
    border-radius: 6px;
    padding-bottom: -5px;
    background-color: #3c3c3c;
    margin: 6vw 0vw 0vw 0vw;
}

.visa .chip .img1 {
    margin-right: 8px;
}

.visa .last {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    position: relative;
}

.visa .last p {
    color: #98A2B3;
    font-size: 0.7rem;
    margin-bottom: 10px;
    /* position: absolute; */
    z-index: 10;
}

.visa .last h4 {
    color: #FFFFFF;
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom: 5px;
    /* position: absolute; */
    z-index: 10;
}

.visa .last img {
    position: absolute;
    width: 110%;
    height: 100%;
    z-index: 9;
    filter: invert(72%);
    margin-top: 100px;
    margin-left: -80px;
}

.visa .last .account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: -10px; */

}

.visa .last h5 {
    color: #98A2B3;
    font-size: 0.7rem;
    margin: 40px 0px 10px;
    font-weight: 400;
    /* position: absolute; */
    z-index: 10;
}

.visa .last h3 {
    color: #FFFFFF;
    font-size: 1.2vw;
    font-weight: 400;
    margin-bottom: 5px;
    /* position: absolute; */
    z-index: 10;
}


.Mastercard {
    height: 480px;
    width: 300px;
    padding: 1vw 2vw;
    color: #151515;
    border-radius: 25px;
    position: absolute;
    z-index: 8;
    margin-left: 10vw;
    margin-top: 15vw;
    background-color: #f1f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.Mastercard .last h3 {
    color: #000;
    font-weight: 600;
}

.Mastercard .header p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
}


.Mastercard .last h4 {
    color: #000000;
    font-weight: 500;
}

.Mastercard .chip {
    border: 1.5px solid #5a6f6f;
    /* display: inline; */
    height: 39px;
    width: max-content;
    border-radius: 6px;
    padding-bottom: -5px;
    background-color: #ffffff;
    margin: 10vw 0vw 0vw 0vw;
}

.Mastercard .last img {
    position: absolute;
    width: 120%;
    height: 322%;
    /* z-index: 9; */
    filter: invert(0%);
    margin-top: -295px;
    margin-left: -25px;
}


.page2 .card .card2 {
    background-color: #f9fafb;
    height: 750px;
    border-radius: 25px;
    padding: 3vw;
    border: 1px solid red;
    overflow: hidden;
}
.page2 .card .card2 .card_img{
    width: 60px;
        height: 60px;
        background-color: var(--button_color);
        padding: 14px 14px;
        border-radius: 28px;
}

.page2 .card .card2 .wallet_card {
    width: 220px;
    height: 230px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 1.5vw 2vw;
    position: absolute;
    margin-left: 250px;
    margin-top: 150px;
}

.page2 .card .card2 .wallet_card .img1 {
    width: 50px;
    height: 50px;
    background-color: var(--button_color);
    padding: 14px 14px;
    border-radius: 28px;
}

.page2 .card .card2 .wallet_card p {
    font-size: 0.9rem;
    margin: 10px 0;
}

.page2 .card .card2 .wallet_card h4 {
    font-size: 1.6rem;
    font-weight: 600;
    /* margin: 10px 0; */
    letter-spacing: -1px;
}


.page2 .card .card2 .income_card {
    width: 420px;
    height: 440px;
    background-color: #fefefe;
    border-radius: 25px;
    padding: 1.5vw 2vw;
}

.page2 .card .card2 .income_card p {
    font-size: 0.8rem;
}

.page2 .card .card2 .income_card h3 {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: -2.2px;
    /* margin: 10px 0px; */
}

.page2 .card .card2 .income_card .avag {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page2 .card .card2 .income_card .avag p {
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: -1px;
    /* margin-top: 10px; */

}

.page2 .card .card2 .income_card .avag p span {
    color: #06e59b;
    font-weight: 500;
}

.page2 .card .card2 .income_card .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

.page2 .card .card2 .income_card .btn .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272B30;
    color: #fff;
    gap: 6px;
    /* padding: 0px 20px; */
    width: 50%;
    border-radius: 10px;
}

.page2 .card .card2 .income_card .btn .btn1 img {
    filter: invert(100%);
}

.page2 .card .card2 .income_card .btn .btn1 p {
    font-size: .8rem;
    color: #FFFFFF;
}

.page2 .card .card2 .income_card .btn .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb20;
    border-radius: 10px;
    width: 50%;

}

.page2 .card .card2 .income_card .btn .btn2 img {
    /* filter: invert(100%); */
}

.page2 .card .card2 .income_card .btn .btn2 p {
    font-size: .9rem;
    color: #1a1b1b;
    font-weight: 500;
}

.page2 .card .card2 .income_card .graph {
    display: flex;
    align-items: flex-end;
    /* border: 1px solid red; */
    gap: 0px;
}

.page2 .card .card2 .income_card .graph .graph_amount {
    /* border: 1px solid red; */
}

.page2 .card .card2 .income_card .graph .graph_amount p {
    font-size: 0.65rem;
    font-weight: 500;
    color: #6F767E;
    letter-spacing: -0.12px;
    margin: 15px 0px 0px 0px;
}

.page2 .card .card2 .income_card .graph .graph_line {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    /* border: 1px solid red; */
    gap: 0.8rem;
}

.page2 .card .card2 .income_card .graph .graph_line .line1 {
    height: 60px;
    width: 35px;
    background-color: #B5E4CA;
    border-radius: 2px;
}

.page2 .card .card2 .income_card .graph .graph_line .line2 {
    height: 40px;
    width: 35px;
    background-color: #FFBC99;
    border-radius: 2px;
}

.page2 .card .card2 .income_card .graph .graph_line .line3 {
    height: 60px;
    width: 35px;
    background-color: #B5E4CA;
    border-radius: 2px;
}

.page2 .card .card2 .income_card .graph .graph_line .line4 {
    height: 45px;
    width: 35px;
    background-color: #B5E4CA;
    border-radius: 2px;
}

.page2 .card .card2 .income_card .graph .graph_line .line5 {
    height: 65px;
    width: 35px;
    background-color: #B5E4CA;
    border-radius: 2px;
}

.page2 .card .card2 .income_card .graph .graph_line .line6 {
    height: 65px;
    width: 35px;
    background-color: #FFBC99;
    border-radius: 2px;
}

.page2 .card .card2 .income_card .graph .graph_line .line7 {
    height: 70px;
    width: 35px;
    background-color: #B5E4CA;
    border-radius: 2px;
}

.page2 .card .card2 .income_card .graph_month {
    display: flex;
    gap: 1.8rem;
    margin-left: 1.8rem;
    margin-top: -5px;
}

.page2 .card .card2 .income_card .graph_month p {
    font-size: 0.65rem;
    font-weight: 500;
    color: #6F767E;
    letter-spacing: -0.12px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++
        page3 starts here 
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.page3 {
    width: 100%;
    height: 60vh;
    border: 1px solid red;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 4vw;
    gap: 10px;
}

.page3 .left_sec {
    width: 50%;
    height: 100%;
    background-color: #f9fafb;
    padding: 2vw;
}

.page3 .left_sec img {
    width: 60px;
    height: 60px;
    background-color: var(--button_color);
    padding: 0px 10px;
    border-radius: 30px;
}

.page3 .left_sec h2 {
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 2.2rem;
    margin: 20px 0px;
}

.page3 .left_sec p {
    font-size: 1.2rem;
    color: #98A2B3;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: -0.6px;
    margin: 20px 0px;
}

.page3 .right-sec {
    width: 50%;
    height: 100%;
    background-color: #f9fafb;
    /* background-color: #494ed3; */
    background-image: url(./assets/Dotted_Map.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.page3 .right-sec .country_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 280px;
    /* justify-content:first baseline; */
    gap: 0.8rem;
}

.page3 .right-sec .country_img img {
    width: fit-content;
    /* height: 60px; */
    background-color: #fff;
    padding: 8px 8px;
    border-radius: 15px;
}

.page3 .right-sec .country_img .img1 {
    margin-left: 60px;
}

.page3 .right-sec .country_img .img2 {
    margin-left: -80px;
}

.page3 .right-sec .country_img .img3 {
    margin-left: 100px;
}

.page3 .right-sec .line_img {
    display: flex;
    align-items: center;
    justify-content: center;

}

.page3 .right-sec .line_img .line1 {
    width: fit-content;
    margin-left: 360px;
    margin-top: -245px;
    position: static;
}

.page3 .right-sec .line_img .line2 {
    /* margin-top: -50px;  */
}